.vertical-timeline::before {
  background: #eee;
}

.vertical-timeline-element-icon {
  height: 8px;
  width: 8px;
  left: 12px;
  box-shadow: none;
  -webkit-box-shadow: none;
  box-sizing: initial;
  -webkit-box-sizing: initial;
  background-color: #eee;
  border: 4px solid #fff;
}

.vertical-timeline-element-content p {
  font-size: 13px;
  text-align: justify;
  margin-top: 6px;
}

.vertical-timeline-element-content {
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-left: 40px;
}

.vertical-timeline-element-title {
  margin: 0;
  font-size: 1rem;
}

.vertical-timeline-element {
  margin-top: 0px;
  margin-bottom: 0px;
}

.vertical-timeline {
  padding: 1em 0;
}

.vertical-timeline-element-subtitle {
  font-weight: 300;
  font-size: 13px;
}

.MuiIcon-root {
  width: 2em !important;
}
